<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header >
    <a href="{{ url_for('home')}}">
        <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-bot-artificial-intelligence-kiranshastry-lineal-kiranshastry-2.png"/>
    Personal assistant bot
    </a>

</header>
<h1>What do you want to do?</h1>
<nav>
    <ul>
        <li>
            <a href="{{url_for('notes')}}">
               <img src="https://img.icons8.com/ios/50/000000/note.png"/>
            Note
            </a>
        </li>
        <li>
            <a href="{{ url_for('address')}}">
                <img src="https://img.icons8.com/external-itim2101-lineal-itim2101/64/000000/external-address-book-school-stationery-itim2101-lineal-itim2101.png"/>
            Address Book
            </a>
        </li>
    </ul>
</nav>

</body>
</html>